<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stock">
	<resultMap type="items" id="itemsResult">
		<id property="seq" column="seq" />
		<result property="title" column="title" />
		<result property="writer" column="writer" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="cnt" column="cnt" />
		<result property="uploadFileName" column="upload_file_name" />
	</resultMap>
	<!-- <select id="getitemsList" resultMap="itemsResult"> -->
	<select id="getStockList" resultType="stock">
		<![CDATA[
		select a.* from ( select rownum rn, b.* from (
		SELECT seq
		      ,title
		      ,writer
		      ,content
		      ,regdate
		      ,cnt
		      ,upload_file_name
		FROM   items
		]]>
		<where>
			<if test="searchKeyword != null and searchKeyword != '' ">
				<if test="searchCondition == 'title' ">
					AND title like '%' || #{searchKeyword} || '%'
				</if>
				<if test="searchCondition == 'content' ">
					AND content like '%' || #{searchKeyword} || '%'
				</if>
			</if>
		</where>
		ORDER BY seq DESC
		) b ) a where rn between #{first} and #{last}
	</select>
	<!-- -->
	<select id="getitems" resultType="items" parameterType="items">
		<![CDATA[
		SELECT * FROM items WHERE  seq = #{seq}
		]]>
	</select>
	<!-- -->
	<select id="getCount" resultType="int" parameterType="items">
		SELECT Count(*) FROM items
		<where>
			<if test="searchKeyword != null and searchKeyword != '' ">
				<if test="searchCondition == 'title' ">
					AND title like '%' || #{searchKeyword} || '%'
				</if>
				<if test="searchCondition == 'content' ">
					AND content like '%' || #{searchKeyword} || '%'
				</if>
			</if>
		</where>
	</select>
	<!-- -->
	<insert id="insertitems" parameterType="items">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select
			nvl(max(seq),0) + 1 from items
		</selectKey>
		INSERT INTO items
				(seq
				,title
				,writer
				,content
				,regdate
		<if test="uploadFileName != null">
			,upload_file_name
		</if>
				)
				VALUES
				(#{seq}
				,#{title}
				,#{writer}
				,#{content}
				,SYSDATE
		<if test="uploadFileName!=null">
			,#{uploadFileName}
		</if>
				)
	</insert>
	<!-- -->
	<insert id="insertitems2" parameterType="items" statementType="CALLABLE">
		<![CDATA[
		{call items_ins_proc(#{title}
							,#{writer}
							,#{content}
							,#{seq, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer}
							,#{outMsg, mode=OUT, jdbcType=VARCHAR, javaType=String}
		)}
		]]>
	</insert>
	<!-- -->
	<update id="updateitems" parameterType="items">
		<![CDATA[
		UPDATE items
		SET    title   = #{title}
		      ,content = #{content}
		      ,writer  = #{writer}
		WHERE  seq = #{seq}
		]]>
	</update>
	<!-- -->
	<delete id="deleteitems" parameterType="items">
		<![CDATA[
		DELETE items
		WHERE  seq = #{seq}
		]]>
	</delete>
	<!-- -->
	<delete id="deleteitemsList" parameterType="list">
		DELETE items
		WHERE seq IN
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
	<!-- -->
</mapper>