<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lookupvalues">
	<select id="getLookupValueList">
		SELECT * 
		FROM LOOKUP_VALUES 
		WHERE LOOKUP = 'SUBINVENTORY' 
		ORDER BY LOOKUP_CODE
	</select>
</mapper>