<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="purchases">

	<select id="getPurchasesList" resultType="purchases">
	<![CDATA[
SELECT p.*,
  common.get_vendor_name(p.vendor_code) AS vendor_name ,
  (SELECT SUM(purchase_qty * purchase_price)
  FROM purchase_details pd
  WHERE p.purchase_code = pd.purchase_code
  ) total,
  (SELECT COUNT(*)
  FROM purchase_details pd
  WHERE p.purchase_code = pd.purchase_code
  ) item_count
FROM PURCHASES p
JOIN vendors
ON(p.vendor_code          = vendors.vendor_code)
	]]>
<if test="vendorName != null and vendorName != ''">
WHERE vendors.vendor_name like '%'|| #{vendorName} ||'%'
</if>
ORDER  BY purchase_code DESC 

	</select>

	<select id="getPurchaseDetailList" resultType="purchaseDetail">
	<![CDATA[
	SELECT p.*, i.item_name
   FROM purchase_detail_vo p
   join items i on p.item_name = i.item_name
   WHERE purchase_code = #{purchaseCode}
	 ]]>
	</select>

	<select id="getPurchases" resultType="purchases" parameterType="purchases">
	<![CDATA[SELECT * FROM PURCHASES WHERE SEQ=#{seq}]]></select>


	<update id="updatePurchases" parameterType="purchases">
		update
		PURCHASE_DETAILS set
		incoming_Flag=#{incomingFlag} where
		PURCHASE_DETAIL_CODE=#{purchaseDetailCode}
	</update>

	<select id="getPurchasesListMap" resultType="map">
	<![CDATA[
   SELECT p.*, i.item_name
   FROM purchase_detail_vo p
   join items i on p.item_name = i.item_name
   WHERE purchase_code = purchase_Code
	]]>
	</select>

	<!-- GPS -->
	<select id="getDeliveryListMap" resultType="map">
	<![CDATA[
    select e.name, a.employee_id, a.location_x, a.location_y, 
    to_char(a.location_date,'YYYY-MM-DD HH24:MI') location_date from delivery_loc a
	join employees e on a.employee_id = e.id
	]]>
	</select>

	

</mapper>
