<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sales">

	<!-- 판매 내역 전체 조회 -->
	<select id="getSaleList" resultType="sales">
		SELECT *
		FROM SALES 
		ORDER BY SALE_CODE
	</select> 

	<!-- 판매 내역 상세 조회 -->
	<!-- JQGRID MASTER에서 선택된 ROW의 SALE_CODE값을 가져와서 DETAIL을 조회 -->
	<select id="getSaleDetail" resultType="saleDetails">
		SELECT * 
		FROM SALE_DETAILS 
		WHERE SALE_CODE = #{saleCode} 
		ORDER BY SALE_DETAIL_CODE
	</select>
	
	<!-- 주문 등록 -->
	<!-- 주문이 승인될 때 결정되는 칼럼(NULL처리) : SALE_DATE, DELIVERY_EMP, WAREHOUSE-->
	<!-- SALE_DATE : 주문 승인 일자 -->
	<!-- DELIVERY_EMP : 주문을 승인할 때 배송가능한 사원을 선택 -->
	<!-- WAREHOUSE : 주문을 승인할 때 출하창고를 선택 -->
	<insert id="insertSale" parameterType="sales">
		INSERT INTO SALES (	SALE_CODE
							, CUSTOMER_CODE
							, SALE_COST
							, DELIVERY_ADDR
							, DELIVERY_STATUS
							, PAY_STATUS
							, ORDER_PERMIT )
		VALUES ( #{saleCode}
				, #{customerCode}
				, #{saleCost}
				, #{deliveryAddr}
				, 'N'
				, 'N'
				, 'N'		)
	</insert>
	
	<!-- 주문 상세 추가 -->
	
	
	
	
	<!-- 주문 수정 -->
	
	<!-- 주문 승인 -->
	<update id="updateOrderStatus" parameterType="sales">
		UPDATE SALES 
		SET ORDER_PERMIT = Y;
	</update>

	<!-- 판매 내역 등록 : 판매 상세 정보 -->
	<insert id="insertSaleDetail" parameterType="saleDetails">
		INSERT INTO SALE_DETAILS
		(
			SALE_DETAIL_CODE
			, SALE_CODE
			, SALE_ITEM
			, SALE_QTY
		)
		VALUES
		(
			#{saleDetailCode}
			, #{saleCode}
			, #{saleItem}
			, #{saleQty}
		)
	</insert>

</mapper>