<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sales">

	<!-- 판매 내역 전체 조회 -->
	<select id="getSaleList" resultType="sales">
		SELECT *
		FROM SALES 
		ORDER BY SALE_CODE
	</select> 

	<!-- 판매 내역 상세 조회 -->
	<select id="getSaleDetail" resultType="saleDetails">
		SELECT * 
		FROM SALE_DETAILS 
		WHERE SALE_CODE = #{saleCode} 
		ORDER BY SALE_DETAIL_CODE
	</select>

	<!-- 주문 등록 -->
	<insert id="insertSale" parameterType="sales">
	
			
	</insert>
	
	<!-- 주문 승인 -->
	<update id="updateOrderStatus" parameterType="sales">
		UPDATE SALES 
		SET 
	
	
	</update>

	<!-- 판매 내역 등록 : 판매 상세 정보 -->
	<insert id="insertSaleDetail" parameterType="saleDetails">
		INSERT INTO SALE_DETAILS
		(
			SALE_DETAIL_CODE
			, SALE_CODE
			, SALE_ITEM
			, SALE_QTY
		)
		VALUES
		(
			#{saleDetailCode}
			, #{saleCode}
			, #{saleItem}
			, #{saleQty}
		)
	</insert>

</mapper>