<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stocks">

	<!-- 판매 내역 전체 조회 -->
	<select id="getStockInOutList" resultType="stockin">
		SELECT *
		FROM
		stock_in_out_vo
		ORDER BY stock_id
	</select>

	<select id="getItemInOutList" resultType="stockin">
		SELECT *
		FROM stock_in_out_vo
		<where>
			<if test="itemCode!=null">
				AND item_code = #{itemCode}
				AND txn_date > SYSDATE - 10
			</if>
		</where>
		ORDER BY txn_date
	</select>

	<select id="getStockOnhandList" resultType="stockon">
		SELECT *
		FROM
		stock_onhands_vo
	</select>

	<select id="getPurchaseRequestList" resultType="purchaserequest">
		SELECT *
		FROM
		stock_onhands_vo
	</select>

</mapper>