#chat-area
{
	display : none;
	height: 373px;  
    box-sizing: border-box;    
}

#chat 
{   
	position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 10px 10px;
    font-size: 12px;
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1000;
    transition: all .3s;   
}